<%= @shelters.get_name(@shelter.id)%>
<%= @shelters.get_city(@shelter.id)%>
<h3>Statistics:</h3>
<ul>
<li>Average age of adoptable pets: <%= @average_age %></li>
<li>Count of adoptable pets: <%= @adoptable_pets %></li>
<li>Count of pets that have been adopted: <%= @adopted_pets %></li>
</ul>

<h3>Action Required</h3>